#
# {{ ansible_managed }}
#

[Unit]
Description={{ velocity_name | title }} Server
After=network.target
Requires={{ velocity_name }}.socket

[Service]
Type=exec
User={{ velocity_unix_user }}
Group={{ velocity_unix_group }}
WorkingDirectory={{ deploy_helper.shared_path }}
ExecStart={{ velocity_java_executable }} -Xmx{{ velocity_max_memory }} -Xms{{ velocity_initial_memory }} {{ velocity_java_options }} -jar velocity.jar nogui
ExecReload=/bin/sh -c "echo 'velocity reload' > {{ velocity_console_fifo_path }}"
ExecStop=/bin/sh -c "echo 'end' > {{ velocity_console_fifo_path }}"
Restart=on-failure
RestartSec=20
# ExecStartPost=/bin/sleep 5
# TTYPath=/dev/tty
# TTYVHangup=yes
# KillMode=process

StandardInput=socket
StandardOutput=journal
StandardError=journal

# /run/velocity
# RuntimeDirectory={{ velocity_rootdir }}/run
# RuntimeDirectoryMode=0740
# # /var/lib/velocity
# StateDirectory=velocity
# StateDirectoryMode=0740
# # /var/log/velocity
# LogsDirectory=velocity
# LogsDirectoryMode=0740
# # /etc/velocity
# ConfigurationDirectory=velocity
# ConfigurationDirectoryMode=0740

ProtectHome=true
ProtectSystem=full
PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
